/* Body */
*{
    margin: 0px;
}
body{ background-color: #eee;
    min-height: 100vh;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-bottom: 10%;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.021);
}

.header .tituloPagina{
    font-size: 30px;
    font-family: Sarabun;
    color: #000;
    font-weight: 800;
    line-height: 1;
}

.misPeliculas{
    width: auto;
    padding: 10px;
    text-decoration: none;
    margin-left: 5%; 
    margin-right: 8%;
}

/* DARK MODE */

.dark-mode-button{
padding: 20px;
cursor: pointer;
}

#dark-mode{
    opacity: 0;
}

html.dark-mode{
    filter: invert(100%);
}

html.dark-mode img{
    filter: invert(100%);
}

html.dark-mode .emoji{
    filter: invert(100%);
}

.linkRecomendaciones{text-decoration:none;}

.header .Recomendaciones{
    text-decoration: none;
    letter-spacing: 1px;
}

.header .recomendacionesGenerales{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 395px;
    border-left: 1px solid #eee;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Sarabun;
    font-weight: 400;
    color: #575757c7;
    line-height: 1;
}

.recomendacionesGenerales:hover{
    background-color: #65e0da42;
}




/* Secciones de peliculas */

#cuerpoDePagina{
    padding-top: 7%;
}

#cuerpoGeneral{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 20px;
}

.filasDePeliculas{
    display: flex;
    flex-wrap: wrap;
}

/* INFORMACIÓN DE LAS PELICULAS */

.informacionPelicula{
    /* outline: 1px solid; */
    max-width: 300px;
    height: auto;
    padding-left: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.informacionPelicula .nombreDirector, .duracion, .sinopsis{
    padding-bottom: 30px;
}
.informacionPelicula .linkParaVer{
    text-decoration: none;
    color: rgba(27, 25, 25, 0.836);
    font-size: 17px;
    font-family: Sarabun;
    font-weight: 400;
}

.linkParaVer:hover{
    text-decoration-line: underline;
}

.tituloPelicula{
    text-transform: uppercase;
    font-size: 23px;
    font-family: Sarabun;
    font-weight: bold;
}

.genero{
    font-size: 17px;
    font-family: Sarabun;
    font-weight: 400;  
    color: rgba(27, 25, 25, 0.836);
 
}
.nombreDirector, .duracion, .sinopsis{
    font-size: 15px;
    font-family: Sarabun;
    font-weight: normal;
    color: rgba(95, 95, 95, 0.589);
}


                                          /* POSTERS */

.filasDePeliculas .poster{
    max-width: 250px;
    height: auto;
}

.poster:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.685);
}

                                          /* PAGINAS */
.paginas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.listaPaginas{
    list-style: none;
    padding: 0;
}

.numeroPagina{
    text-decoration: none;
    font-size: 25px;
    font-family: Sarabun;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.801);
}

.paginaDos:hover{text-decoration-line: underline;}
.paginaTres:hover{text-decoration-line: underline;}

                                          /* FOOTER */

footer{display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.textoFooter{
    width: 350px;
    font-size: 15px;
    font-weight: 400;
    font-family: Sarabun;
    letter-spacing: 1px;
    color: #50505073;
    line-height: 15px;
}

.recomendar{
    display: block;
    /* padding-right: 6%; */
}

.tituloFooter{
    font-size: 20px;
    font-family: Sarabun;
    color: #000;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 10px;
}

.recomendaciones{
    width: 350px;
    font-size: 15px;
    font-weight: 400;
    font-family: Sarabun;
    line-height: 15px;
    color: #50505073;
}

.recomendaciones a{
    text-decoration: none;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.534);
}

.developed{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Sarabun;
    color: rgba(0, 0, 0, 0.596);
    font-weight: 200;
}
.linkedin{
    text-decoration: none;
    font-size: 16px;
    font-family: Sarabun;
    color: rgba(0, 0, 0, 0.596);
    font-weight: 200;
}

.linkedin:hover{
    color: black;
}
                                          /* PAGINA DE RECOMENDACIONES */

#error404{
    padding-top: 6%;
}
.recomendarSeccion{
    height: 242px;
    width: 100%;
}

.recomendarSeccion .loSentimos{
    align-items: center;
    font-size: 50px;
    font-family: Sarabun;
    font-weight: 600;
    padding: 40px 40px 0px 90px;
}

.recomendarSeccion .textoLoSentimos{
    font-size: 20px;
    font-family: Sarabun;
    font-weight: 200;
    padding: 0 40px 20px 90px;
}

.recomendarSeccion .volverInicio{
    width: 120px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Sarabun;
    font-weight: 400;
    margin: 0 0 0 90px;
    color: rgb(128, 128, 128);
}

.volverInicio:hover{
    text-decoration-line: underline;
}

.goHome{
    text-decoration: none;
}
